body{
    /*background-color:#FFDEAD;
    background-color:#F5DEB3;
    background-color:#D2B48C;*/
    background-color:#FFF8DC;
    font-family:Helvetica;
    
}
.caja{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #D2B48C;
    padding: 2% 5% 4% 5% ;
    border-radius: 15px;
    box-shadow: 10px 10px 15px;    
}

.caja table{
    font-size: 150%;
}

.caja table .texto{
    margin-left: 25px;
    margin-bottom: 7px;
    margin-top: 7px;
    padding: 2%;
    font-size: 60%;
    border-radius: 7px;
    
}
.caja table .submit{
    font-size: 60%; 
    background-color: #FFF8DC ;
    text-decoration: none;
    color: black;
    padding: 1.5%;
    border: solid 1px ;
    border-color: black;
    border-radius: 10px;
    margin-left: 10px;
}
.caja table .volver{
    font-size: 60%; 
    background-color: #FFF8DC ;
    text-decoration: none;
    color: black;
    padding: 1.5%;
    border: solid 1px ;
    border-color: black;
    border-radius: 10px;
    margin-right: 10px;
}
.caja table .registrar{
    font-size: 60%; 
    background-color: #FFF8DC ;
    text-decoration: none;
    color: black;
    padding: 1.5%;
    border: solid 1px ;
    border-color: black;
    border-radius: 10px;
    margin-right: 0px;
}


